:root {
    --accent-color: #f8f200;
    --dark-color: black;
    --highlight-color: #52BEDC;
}
.highligt {
    color: var(--highlight-color);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 34px;
}
.site-title {
    font-weight: 400;
    font-size: 62px;
    line-height: 63px;
    color: var(--dark-color);
    margin-bottom: 24px;
 
}
body {
    font-family: 'Muller', sans-serif;
    font-weight: 400;
}
.list-reset {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    height: 78px;
    background: var(--dark-color);
    color: var(--accent-color);
    font-size: 24px;
    font-weight: 700;
    padding: 22px 50px;
    margin-top: 25px;

}

a {
    color: inherit;
    text-decoration: none;
}
.element-invisible {
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
.container {
    max-width: 1310px;
    margin: 0 auto;
}
.header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}
.social {
  display: flex;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 40px;
}
.social__link {
 width: 30px;
 height: 30px;
 display: inline-block;
 background-position: center;
 background-repeat: no-repeat;
 background-size:  cover;
}
.youtube-item {
  background-image: url(../images/YouTube.png);
}
.facebook-icon {
  background-image: url(../images/Vector-8.png);
}
.twiter-icon {
  background-image: url(../images/Vector-9.png);
}
.some-icon {
  background-image: url(../images/Vector-10.png);
}
.instagrame-icon {
  background-image: url(../images/Vector-11.png);
}
.vk-icon {
  background-image: url(../images/Vector-7.png);
}

/*Section hero*/
.hero {
    height: 1000px;
    background-image: url(../images/11.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat ;
}

.hero__info-btn {
    background-color: var (var(--dark-color));
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40;
}

.hero__container {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
.hero__info {
    max-width: 624px;
    background: var(--accent-color);
    padding: 70px;
}
.corner-block {
    overflow: hidden;
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
  }

.hero-info__btn {
    background-color: var(--dark-color);
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: var(--accent-color);
    width: 272px;
    height: 78px;
}


/* Section about*/
.about__title {
  margin-top: 70px;
}
.about__desrc {
  display: inline-block;
  width: 85%;
  color: #777777;
}
.about__images {
  margin: 62px 0;
  display: grid;
  grid-template-areas: 
    'im1 im1 im1 im3 im3 im3 im3 im3'
    'im2 im2 im2 im3 im3 im3 im3 im3';
  grid-gap: 1rem;
}
.about__images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about__image1 {
  grid-area: im1;
}
.about__image2 {
  grid-area: im2;
}
.about__image3 {
  grid-area: im3;
}

/*Section game*/
.game {
  background: var(--dark-color);
  color: white;
  position: relative;
}
.game::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-image: url(../images/hp-before.png);
}
.game::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-image: url(../images/hp-after.png);
}
.game__title {
  padding-top: 70px;
}
.game__title .site-title {
  position: relative;
  bottom: 30px;
  left: 50px;
  display: inline-block;
  color: white;
}
.game__descr {
  max-width: 80%;
}
.game__content {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}
.game__form {
  display: flex;
  flex-direction: column;
  width: 59%;

}
.game form input {
  background: none;
  border: none;
  border-bottom: 1px solid #777777;
  color: white;
  font-weight: 300;
  padding: 13px 0;
  margin-bottom: 22px;
}
.form-lable {
  margin: auto;
  border: dashed 1px #777777;
  height: 120px;
  width: 100%;
}
.form-lable__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.form-lable__text {
  display: inline-block;
  border-bottom: 0.5px solid white;
  position: relative;
  top: 28%;
  left: 40%;
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
}
.form-lable__images {
  display: inline-block;
  position: relative;
  top: 41%;
  left: 21%;
  font-size: 12px;
  font-weight: 300;
}
.form__btn {
  background: var(--accent-color);
  color: var(--dark-color);
  width: fit-content;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 100px;
}
.game__image {
  width: 90%;
  background-image: url(../images/play-im.png);
  position: relative;
  bottom: 16px;
}

/*Section HP*/
.hp {
  background: var(--accent-color);
  padding: 70px 0;
}
.hp-container {
  display: flex;
  justify-content: space-between;
}
.hp__left {
  padding-right: 32px;
}
.hp__logos {
  display: flex;
  justify-content: space-around;
}
.hp__logo {
  display: flex;
  justify-self: center;
}
.hp__right {
  max-width: 50%;

}
.hp__title {
  max-width: 70%;
}
.hp__descr {
  display: inline-block;
  max-width: 88%;
}
.hp__list {
  padding-top: 18px;
}
.hp__item {
  height: 32px;
  width: 100%;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-bottom: 10px;
}
.hp__icon1 {
 background-image: url(../images/play1.svg);
}
.hp__icon2 {
  background-image: url(../images/play2.svg);
}
.hp__icon3 {
  background-image: url(../images/play3.svg);
}
.hp__btn {
  height: 60px;
  padding: 15px 45px;
}

/*Buy section*/

.buy {
  background: var(--dark-color);
}
.buy-container {
  max-width: 1920px;
  margin: 0;
  display: flex;
}
.buy__image {
}
.buy__image img {
  height: 100%;
  width: 100%;
}
.buy__content {
  margin: 0;
  padding: 70px 32px 0 32px;
  background: var(--dark-color);
}
.buy__title {
  max-width: 464px;
  color: white;
  line-height: 76px;
}
.buy__list {
  margin-top: 20px;
  /* padding: 70px 32px 12px 0; */
}
.buy__subtitle {
  color: #52BEDC;
  font-size: 24px;
  font-weight: 700;
}
.buy__item {
  color: white;
  padding-left: 35px;
  padding-bottom: 5px;
}
.buy__platforms-subtitle {
  margin-top: 70px;
  margin-bottom: 25px;
}
.platforms-list {
  display: flex;
  flex-wrap: wrap;
  width: 458px;
}
.platforms-list__imtem {
  width: 220px;
  height: 80px;
}

/*Footer*/

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__link{
  padding-left: 15px;
}
.footer__bottom {
  background: var(--dark-color);
  color: white;
 padding: 3px 0;
}
.footer__bottom .copyright {
  display: flex;
  justify-content: center;
}

/*Media*/

@media (max-width: 1150px) {

  .container {
    max-width: 952px;
  }
  .hero {
    background-image: url(../images/hero-1024.png);
  }
  .about__title {
    min-width: 60%;
  }
  .about__desrc {
    min-width: 85%;
  }
  .about__images {
    grid-template-areas: 
      'im1 im1 im2 im2'
      'im3 im3 im3 im3'
      'im3 im3 im3 im3';
  }
 
.game__title .site-title {
  top: 80px;
  left: -142px;
}
.game__descr {
  position: relative;
  top: 100px;
  max-width: 460px;
}
.game__content {
  max-width: 460px;
}
.game__form {
  width: 100%;
  margin-top: 35px;
}
.game__image {
  background-image: url(../images/play-1024.png);
  margin-right: 18px;
  max-width: 460px;
  min-height: 844px;
  bottom: 140px;
  position: absolute;
  right: 0;
}
.hp__logos {
  flex-direction: column;
  align-items: center;
  height: 280px;

}
.hp__item {
  min-height: 32px;
  line-height: 1;
  margin: 20px 0;
}
.hp__title {
  max-width: 90%;
}
.form-lable__images {
  left: 83px;
}
@media (max-width:875px) {
  body {
    font-size: 16px;
  }
  .site-title {
    font-size: 30px;
  }
  .container {
    padding: 0 12px;
  }
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__logo {
    display: flex;
    justify-content: center;
  }
  .social__item:not(:last-child) {
    margin-right: 23px;
  }
  .site-title {
    font-size: 30px;
    line-height: 1.2;
  }
  .hero-info__button {
    margin-top: 0;
  }
  .hero-info__button {
    font-size: 20px;
  }
  .hero__info {
    padding: 30px 55px;
  }
  
  .about__images {
    grid-template-areas: 
    'im1 im1'
    'im2 im2'
    'im3 im3'
    'im3 im3';
  }
  .game__image {
    background-image: url(../images/play-320.png);
    background-repeat: no-repeat;
    bottom: 150px;
  }
  .game__title .site-title {
    top: 155px;
    left: 40px;
  }
  .game__descr {
    top: 158px;
  }
  .game__form {
    margin-top: 75px;
  }
  .buy-container {
    flex-direction: column;
  }
  .hp .hp-container {
    flex-direction: column;
  }
  .hp__right {
    max-width: 100%;
  }
  .buy__platforms-subtitle {
    margin-top: 50px;
  }
  .buy__content {
    padding: 20px 12px 0 12px;
  }
  .platforms-list {
    width: 100%;
  }
  .platforms-list__imtem {
    width: 112px;
  }
  .footer .container {
    margin: 0;
    padding: 0;
    flex-direction: column;
  }
@media (max-width: 320px) {

  .container {
    max-width: 296px;
  }
  .form-lable__text {
    top: 28%;
    left: 84px;
  }
  .form-lable__images {
    left: -16px;
  }
  .hero {
    background-image: url(../images/hero-320.png);
  }
 
  
}



